:root {
    --nav-bg-color: #1b1b1b;
    --nav-text-color: #fbfdfc;
    --nav-text-hover: #86bb3c;
    --math-color: #7a3a10be;

    --bg-color: #606c88;

    --main-cubic: cubic-bezier(.17, .67, .83, .67);

    --shadow-main: 5px 9px 20px rgb(0 0 0 / 15%);

}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body {
    background-repeat: no-repeat;
    background-color:#606c88;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--nav-text-color);
    transition: color 250ms var(--main-cubic);
}

a:hover {
    color: var(--nav-text-hover);
}

.active {
    color: var(--nav-text-hover);
}

.section {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* NAV */
.nav-menu {
    background-color: var(--nav-bg-color);
    box-shadow: var(--shadow-main);

    list-style: none;
    display: flex;

    margin-top: 10px;
    border-radius:10px;
    height: 70px;

    text-align: center;
    align-items: center;
}

.nav-menu li {
    display: block;

    font-size: 25px;
    font-weight: 400;

    line-height: 1.1;
    letter-spacing: 0.02em;

    font-weight: 400;
    margin-left: 49px;
}

.checkbox-label {
    position: relative;
    display: inline-block;
    padding-left: 26px;
    width:100%;
    height: 100%;
}

.checkbox-text {
    margin-left: 20px;

    color: var(--secondary-text-color);

    font-size: 24px;
    line-height: 1.71;

    display: block;

}

.checkbox-text:hover{
    cursor: pointer;
}

.checkbox-link {
    color: var(--secondary-color);
    text-decoration: underline;
}

.chekbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.check-icon,
.uncheck-icon {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    transition: 250ms var(--main-cubic);
    margin-left: 9px;
}

.check-icon:hover,
.uncheck-icon:hover{
    cursor: pointer;
}


.check-icon {
    opacity: 0;
}

.chekbox-input:checked~.check-icon {
    opacity: 1; 

}

.chekbox-input:checked~span{
    text-decoration: line-through;
}

.checkbox-input:checked~.uncheck-icon {
    opacity: 0;
}

.list-form{
    display: flex;
}

.list-form li{
    margin-top: 20px;
    
    padding: 15px;
    width:50%;

    border-radius:10px ;
    background: linear-gradient(-45deg, #23A6D5, #638860, #23A6D5, #0f8315);

    box-shadow: var(--shadow-main);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
.list-form li:not(:first-child){
    margin-left: 20px;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}